@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #264653;
  text-align: center;
}

h1 {
  color: #E76F51;
  font-size: 2.5em;
  text-align: center;
}

#clear-button {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 6px 20px;
  font-size: 18px;
  margin: 20px 0;
}

#size-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

button {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  color: rgb(240, 240, 240);
  background-color: #2A9D8F;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}

#current-size {
  font-size: 22px;
  color: #E9C46A;
  display: inline-block;
}

#controls-text {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: rgba(210, 210, 210, 0.7);
}

#container {
  width: 516px;
  height: 516px;
  border: 2px solid #203a46;
  box-shadow: 0 0 8px 4px #203a46d8;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: auto;
  background-color: rgb(240, 240, 240)
}